/*Shift + Alt + F para darle formato al código. Y Control + Z para que el código se ajuste al ancho del editor.*/

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    min-height: 70px;
    background: #0077B5;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 8px;
}

nav a:hover {
    color: yellow;
}

@media (max-width:680px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}